{{>header}} <!-- Подстановка содержимого файла header.mustache -->
<div class="container">
<div class="py-2 text-center">
<h1>{{title}}</h1> <!-- вставка из свойства title-->
</div>
<div class="container">
<div class="text-center mb-4">
<!-- вставка из свойства route_url -->
<form method="POST" action="{{route_url}}/add"
enctype="application/x-www-form-urlencoded">
<p>Widget name: <input type="text"
name="name" id="name"
size="25" required /></p>
<p>Widget Price: <input type="text"
pattern="\d+(,\d{2})?"
name="price" id="price"
size="25" required /></p>
<p>Widget Description: <br /><textarea
name="desc" cols="40"
rows="5" placeholder="No description available"></textarea>
<p>
<input class="btn btn-primary"
type="submit" name="submit"
id="submit" value="Submit"/>
<!-- вставка из свойства route_url -->
<a href="{{route_url}}/"
class="btn btn-secondary">Reset</a>
</p>
</form>
</div>
</div>
{{>footer}} <!-- Подстановка содержимого файла footer.mustache -->